<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dc63ce">  <td>18/07/13 14:07:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAutoComplete.TestAutoCompleteMtd()[pri:0, instance:Som.Som.TestAutoComplete@475530b9]">TestAutoCompleteMtd</td> 
  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="dc63ce">  <td>18/07/13 14:07:12</td>   <td>-13495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestAutoComplete.beforeMethod()[pri:0, instance:Som.Som.TestAutoComplete@475530b9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
</table>
